h1{
    text-align: center;
}

table{
    width: 800px;
    margin: 0 auto;
    table-layout: fixed;
}
table thead tr{
    background-color: gray;
}
table tbody tr td,
table thead tr th{
    text-align: center;
    padding: 8px;
    border: 1px solid black;
}